<div class="footer bottom">
  <div class="footer-container">

      <div>
      </div>

      <div>
      </div>

      <div>
      </div>

      <div>
        <p>2022 © King Store — модный интернет-магазин телефонов, аксессуаров и аксессуаров.</p>
      </div>

      <div>
        <p> Все права защищены. Доставка по всей России.</p>
      </div>
      <div class="icon">
        <a href="https://www.avito.ru/user/80d3384574c1b29f50705cad9f16e8a3/profile?src=sharing"><img src="/images/avito.png" alt="" style="width: 30px; heigth: 100px"></a>
        <a href="https://vk.com/kingstore_belorechensk"><img src="/images/vk logo.png" alt="" style="width: 30px;"></a>
        <a href="https://instagram.com/kingstore_belorechensk?igshid=YmMyMTA2M2Y="><img src="/images/images.jpeg" alt="" style="width: 30px;"></a>
        <a href="https://trk.mail.ru/c/h8w211?id=6213a9f26d540e263c200c6a?utm_campaign=client&utm_medium=viral&utm_source=ios_profile_sharing"><img  src="/images/yula.png" alt="" style="width: 30px;"></a>
      </div>
  </div>

</div>
