  <header class="header">
    <div class="site-name">KING STORE</div>
    <img class="logo" src="../logo.eps">
    <div class="menu">
      <div class="menu-point">на главную</div>
    </div>
  </header>
