  <header class="header">
    <div class="site-name">KING STORE</div>
    {{!-- <img class="logo" src="/..."> --}}
    <div class="menu">
      <div class="menu-point">на главную</div>
    </div>
  </header>


