  {{!-- <header class="header">
    <div class="site-name">KING STORE</div>
    <img class="logo" src="/images/logo_insta.png" alt="no" style="width: 250px; height: 45px;">

  </header> --}}

<nav class="navbar navbar-expand-lg bg-dark">
  <!-- Navbar content -->
  
    <div class="container-fluid" >
      <div class="menu-point">
        <img src="/images/logo_text.png" style="width: 15%; min-width: 100px;">
        <img src="/images/logo_face.png" style="width: 4%; min-width: 40px;">
      </div>
      {{!-- <div class="menu">
        <button type="button" class="btn btn-light menu-point">Главная</button>
        
        <div class="menu-point">на главную</div>
      </div>
     
    </div> --}}

</nav>
