  <header class="header">
    <div class="site-name">KING STORE</div>
    <img class="logo" src="images/logo_insta.png" alt="no" style="width: 250px; height: 45px;">

    <div class="menu">
      <div class="menu-point">на главную</div>
    </div>
  </header>


