<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>
<body>
  




  <header class="header">
    <div class="site-name">KING STORE</div>
    <img class="logo" src="../logo.eps">
    <div class="menu">
      <div class="menu-point">на главную</div>
    </div>
    <!-- {{#if admin}}
    <div class="login">Войти</div>
    {{/if}} -->
  </header>

  <div class="conntent">
    <div class="content-name">
      <h3>Категории товаров</h3>
    </div>

    <div class="categories">

      <!-- {{#each}}
      <div class="one-category">
        <div class="category-name">{{ihis.gategory}}</div>
        <div><img class="img" src="/src/iphone.jpg"></div>
      </div>
      {{/each}} -->

      <div class="one-category">
        <div class="category-name">IPhone</div>
        <div><img class="img" src="/src/iphone.jpg"></div>
      </div>
      <div class="one-category">
        <div class="category-name">Ipad</div>
        <div><img class="img" src="/src/iphone.jpg"></div>
      </div>
      <div class="one-category">
        <div class="category-name">Macbook</div>
        <div><img class="img" src="/src/iphone.jpg"></div>
      </div>
      <div class="one-category">
        <div class="category-name">AirPods</div>
        <div><img class="img" src="/src/iphone.jpg"></div>
      </div>
      <div class="one-category">
        <div class="category-name">аксессуары</div>
        <div><img class="img" src="/src/iphone.jpg"></div>
      </div>

    </div>
    
  </div>




</body>
</html>
