  <div class="conntent">
    <div class="content-name">
      <h3>Категории товаров</h3>
    </div>

    <div class="categ">

     {{#each categories}}
      <div  class="one-category">
        <div id="{{this.id}}" class="category-name">{{this.name}}</div>
        <div><img id="{{this.id}}" class="img" src="{{this.img}}"></div>
      </div>
      {{/each}}

    </div>
    
  </div>


