/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  background-color: rgb(175, 170, 181);
  /* display: flex;
  align-items: center; */
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-color: rgb(246, 233, 148);
  border-radius: 6px;
}

.site-name {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.788);
  font-weight: 600;
  padding: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Calibri, sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: rgb(80, 80, 80);
  padding: 5px;
}

.menu-point {
  padding: 3px;
}

.login {
  font-family: Calibri, sans-serif;
  font-size: 17px;
  color: rgb(80, 80, 80);
  font-weight: 400;
  padding: 5px;
}

.allcontent {
  min-height: 700px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-content {
  padding: 28px; border-radius: 28px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.categ {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-name {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  font-weight: 600;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}

.categ {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.one-category {
  position: relative;
  /* padding: 5px; */
  width: 200px;
  height: 320px;
  margin-top: 30px;
  margin-right: 14px;
  padding: 6px; border-radius: 14px;
  background-color: #9e9e9e;
}

.img {
  width: 187px;
  height: 274px;
}

.category-name {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  color: rgb(80, 80, 80);
  font-weight: 600;
}


.price {
  font-family: Calibri, sans-serif;
  font-size: 15px;
  color: rgb(80, 80, 80);
  font-weight: 500;
}


.adm-table {
    display: flex;
}

/* -------------------------bootstrap */
.container-fluid {
  text-decoration-color: aliceblue;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.adm-table div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 150px;
    min-width: 30px;
}

.adm-item {
    display: flex;
}

.adm-item div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 150px;
    min-width: 30px;
}

.upd-status {
    width: 100px;

}

.adm-items {
    display: flex;

}

.adm-img {
    width: 200px;
    height: 200px;
}

.adm-card {
    margin: 20px;
    border: 2px solid black;
}
