<ul class="adm-nav">
  <li><a href="/admin">Back</a></li>
  <li><a href="/admin/edit">Edit device</a></li>
  <li><a href="/admin/cat">Edit categories</a></li>
</ul>

<form action="/admin/add" method="post" name="admAdd">
  <p><input name="name" type="text" placeholder="Name"></p>
  <p><input name="info" type="text" placeholder="Info"></p>
  <p><input name="price" type="number" placeholder="Price"></p>
  <p>Is new device: <input name="new" type="checkbox" placeholder="is new"></p>
  <p><select name="category">
    {{#each cats}}
      <option>{{this.name}}</option>
    {{/each}}
  </select></p>
  <ul class="buttons">
    <li><input type="file" name="img"></li>
    <li><button id="more" type="button">+</button></li>
  </ul>
  <p><button type="submit">Add</button></p>
</form>
<div class="msg"></div>

<script src="/js/adm/add.js"></script>
